<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.8.1/dist/css/foundation.min.css"
    crossorigin="anonymous">
</head>

<body>
    <nav>[<a href="/">Contents</a>]</nav>
    <main>
        <h2>{{.Title}}</h2>
        <p>[<a href="/edit/{{.Title}}">edit</a>]</p>
        <div>{{printf "%s" .Body}}</div>
    </main>
</body>

</html>
